<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="company" >
     <div  id="course_image_box">
        <h4 id="course_h4">Get Globally Certified from SCOPE INDIA</h4>
        <img class="course_image" th:src="@{/image/microsoft.png}" alt="">
        <img class="course_image" th:src="@{/image/ibm.png}" alt="">
        <img class="course_image" th:src="@{/image/google.png}" alt="">
        <img class="course_image" th:src="@{/image/amazon.png}" alt="">
        <img class="course_image" th:src="@{/image/redhat.png}" alt="">
        <img class="course_image" th:src="@{/image/istqb.png}" alt="">
        <img class="course_image" th:src="@{/image/cisco.png}" alt="">
        <img class="course_image" th:src="@{/image/github.png}" alt="">
    </div>
    </div>
   
</div>
</body>
</html>