<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="footers">
    <div class="footer">
        <p>
            We are located at Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil, Tamil Nadu
        </p>

        <p>
            9745936073 (TPK) &nbsp;&nbsp;
            9745936073 (TVM) &nbsp;&nbsp;
            7592939481 (EKM) &nbsp;&nbsp;
            8075536185 (NGL) &nbsp;&nbsp;
            info@scopeindia.org
        </p>

        <p>
            All Rights Reserved &nbsp; SCOPE INDIA & SUFFIX E SOLUTIONS PRIVATE LIMITED
            © 2007-2025 | Privacy Policy | Blog
        </p>
    </div>
</div>
</body>
</html>